.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 64px;
    padding: 0 24px;

    background-color: rgba(105, 105, 105, 0.2);
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);

    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s, backdrop-filter 0.3s;

    z-index: 50;

    border-radius: 10px;
    position: sticky;
}

.logo {
    font-size: 1.25rem;
    font-weight: 600;
}

.links {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    font-weight: 500;
    transition: color 0.5s ease;
}

.link:hover {
    color: greenyellow;
    filter: brightness(1.2);
}

.actions {
    display: flex;
    gap: 12px;
}

/* Hamburger */
/* .hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.bar {
    width: 24px;
    height: 2px;
    background-color: #374151;
    transition: all 0.3s ease;
} */

/* Mobile menu */
/* .mobileMenu {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 12px 24px;
    background-color: rgba(105, 105, 105, 0.2);
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);

    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s, backdrop-filter 0.3s;
    position: absolute;
    align-items: end;
    top: 64px;
    left: 24px;
    width: 100%;
} */

/* Responsive */
/* @media (max-width: 768px) {
    .links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .mobileMenu {
        display: flex;
    }
} */